#hobbies {
    background-image: var(--gardient__bg);
}

.container .paneles__hobbies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.paneles__hobbies .card {
    display: block;
    width: calc(10vw + 2rem);
    padding: 2.5rem 0;
    text-align: center;
    margin: auto;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 5px;
    font-size: var(--medium__size__text);
    box-shadow: var(--box__shadow);
    transition: .5s;
    transform: .5s;
}

.paneles__hobbies .card:hover {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.paneles__hobbies .card i {
    font-size: var(--big__size__text);
    padding-bottom: .5rem;
}

.paneles__hobbies .card h2 {
    text-transform: capitalize;
}

@media screen and (max-width: 1000px) {
    .container .paneles__hobbies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 3rem;
    }

    .paneles__hobbies .card {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .container .paneles__hobbies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .paneles__hobbies .card:hover {
        transform: scale(1.1);
    }

    .paneles__hobbies .card {
        width: 100%;
    }

    .container .paneles__hobbies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .paneles__hobbies .card {
        display: block;
        width: calc(10vw + 2rem);
        padding: 2.5rem 0;
        text-align: center;
        margin: auto;
        background-color: var(--negro);
        color: var(--blanco);
        border-radius: 5px;
        font-size: var(--medium__size__text);
        box-shadow: var(--box__shadow);
        transition: .5s;
        transform: .5s;
    }

    .paneles__hobbies .card:hover {
        transform: scale(1.2);
        transition: all .5s ease-in-out;
    }

    .paneles__hobbies .card i {
        font-size: var(--big__size__text);
        padding-bottom: .5rem;
    }

    .paneles__hobbies .card h2 {
        text-transform: capitalize;
    }

    @media screen and (max-width: 1000px) {
        .container .paneles__hobbies {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 3rem;
        }

        .paneles__hobbies .card {
            width: 90%;
        }
    }

    @media screen and (max-width: 500px) {
        .container .paneles__hobbies {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }

        .paneles__hobbies .card:hover {
            transform: scale(1.1);
        }

        .paneles__hobbies .card {
            width: 100%;
        }
    }

}