.container {
  display: flexbox;
  padding: 13rem 1%;
}

.landing__page {
  height: calc(1vh - 1px);
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: baseline;
  justify-content: center;
  flex-direction: column-reverse;
}

.landing__page .socials {
  display: flex;
  margin-bottom: 1rem;
}

.landing__page .socials a {
  padding: 0rem 0rem 0rem 7rem;
  transition: 1s;
  color: var(--naranja);
}

.landing__page .socials a:hover {
  color: var(--negro);
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}

.landing__page .presentacion {
  display: block;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.landing__page .imagen {
  filter: drop-shadow(1px 2px 5px var(--negro));
  margin-top: auto;
  margin-bottom: auto;
}

.landing__page .imagen img {
  display: flex;
  justify-content: flex-end;
  width: 10px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.landing__page .presentacion .p__1 {
  color: var(--naranja);
  padding: 0rem 0rem 0rem 5rem;
  font-family: var(--opensans__fuente__texto);
  font-weight: bolder;
}

.landing__page .presentacion .p__2 {
  padding: 0rem 0rem 0rem 5rem;
  font-family: var(--opensans__fuente__texto);
  font-size: var(--length-percentage);
  font-weight: bolder;
}

.landing__page .presentacion .p__1 .animacion {
  padding: 0rem 0rem 0rem 5rem;
  color: var(--naranja);
  -webkit-animation: flicker-1 1s ease-out infinite both;
  animation: flicker-1 1s ease-out infinite both;
}

.landing__page .presentacion .descripcion {
  padding: 0rem 0rem 0rem 5rem;
  font-family: var(--opensans__fuente__texto);
  font-size: var(--normal__size__text);
  width: 85%;
}

.landing__page .bajame__esta__xd {
  animation: slide-top 2s ease-in-out infinite;
  transition: all .5s ease-in-out;
  color: var(--negro);
  width: 4rem;
  border-radius: 25px;
  font-size: 2rem;
  position: absolute;
  right: 3%;
  bottom: 30%;
}

.landing__page .bajame__esta__xd i {
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-shadow: var(--text__shadow);
}

.landing__page .bajame__esta__xd__movil {
  display: none;
}

.persona__imagen--enrique {
  background-image: url("../logos/enriqueerazo.jpg");
}

.persona__imagen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}


@media screen and (max-width: 768px) {

  .persona {
    display: flex;
    justify-content: right;
    margin-bottom: 1px;
    text-align: right;
  }


  .landing__page .bajame__esta__xd {
    display: none;
  }

  .landing__page .bajame__esta__xd__movil {
    display: flex;
    animation: slide-top 1.5s ease-in-out infinite both;
    transition: all .5s ease-in-out;
    color: var(--negro);
    width: 4rem;
    border-radius: 25px;
    font-size: 2rem;
    position: absolute;
    right: 0;
    bottom: 10%;
  }

  .landing__page .bajame__esta__xd__movil i {
    justify-content: center;
    text-align: center;
    vertical-align: middle;
  }

  .container {
    display: flexbox;
    padding: 7rem 1%;
  }

  .landing__page {
    height: calc(160vh - 1px);
    display: inline-block;
    flex-direction: column;
    margin-bottom: 1px;
    text-align: right;
  }

  .landing__page .presentacion {
    order: 1;
  }

  .landing__page .imagen {
    order: -1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    height: 45%;
    margin-bottom: 2rem;
  }


  .landing__page .imagen img {
    border-radius: 100%;
  }

  .landing__page .presentacion .p__1 {
    font-family: var(--opensans__fuente__texto);
    font-size: var(--medium__size__text);
    text-align: left;


  }

  .landing__page .presentacion .p__2 {
    font-size: var(--small__size__text);
    font-weight: bolder;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-wrap: break-word;
    line-height: 2rem;

  }

  .landing__page .presentacion .descripcion {
    width: 100%;
    margin-bottom: .5rem;
    text-align: left;
  }

  .landing__page .socials {
    padding: 0rem;
    margin-bottom: 0rem;
    text-align: center;
  }

  .landing__page .socials a {
    padding: .0rem;
  }

}





@keyframes flicker-1 {

  0%,
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}